doctype html
html
    head
        title New message received
    body
        h3 New message from #{name} : #{email}
        hr
        p Hello, you have received a new message with subject
        b #{subject}
        br
        p #{message}