<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Documentation <small>Subtext for header</small></h1>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisi facilisis,
                fermentum eros ac, consequat leo. Praesent vitae mauris id erat varius volutpat id
                a velit. Integer quis aliquet lacus. Maecenas laoreet hendrerit turpis, ut
                interdum nunc. Nunc viverra, dolor eu vulputate molestie, massa purus
                sollicitudin ipsum, eu eleifend diam nulla lacinia urna. Vestibulum nec
                ipsum id sapien varius rhoncus. Integer sed ligula ligula. Sed sodales nunc
                facilisis erat ultricies accumsan.
            </p>
            <br />
            <img src="img/mean-schema.jpg" class="img-responsive" alt="Responsive image">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisi facilisis,
                fermentum eros ac, consequat leo. Praesent vitae mauris id erat varius volutpat id
                a velit. Integer quis aliquet lacus. Maecenas laoreet hendrerit turpis, ut
                interdum nunc. Nunc viverra, dolor eu vulputate molestie, massa purus
                sollicitudin ipsum, eu eleifend diam nulla lacinia urna. Vestibulum nec
                ipsum id sapien varius rhoncus. Integer sed ligula ligula. Sed sodales nunc
                facilisis erat ultricies accumsan.
            </p>
            <br />
            <a class="btn btn-default" href="/#!/" role="button">Back Homepage</a>
        </div>
    </div>
</div>