<div class="container-fluid" ng-controller="MainController">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to the MEAN Base APP</h1>
            <img src="img/mean-logo.jpg" />
            <p>This is the main page rendered with HTML and AngularJs.
                This base application is <b>NOT</b> using any template engine for angular or Node.js.
                Please, read the project documentation for more related information.</p>
            <p>This is the API status response obtained from <b>/api/v1/status</b>: <code>{{status}}</code></p>
            <br />
            <a target="_blank" class="btn btn-default" href="https://github.com/gonzaloplaza" role="button">View documentation</a>
        </div>
    </div>
</div>