<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>MEAN Base Application <small>Subtext for header</small></h1>
            </div>
            <div class="jumbotron">
                <p>This is the main page rendered with HTML5 and AngularJS.
                    This base application is <b>NOT</b> using any template engine for AngularJS or Node.js.
                    Please, read the project documentation for more related information.</p>
                <p>This is the API status response obtained from <b>/api/v1/status</b>: <code>{{status}}</code></p>
                <br />
                <a target="_blank" class="btn btn-primary" href="https://github.com/gonzaloplaza/mean-base/blob/master/README.md" role="button">View documentation on Github</a>
            </div>
        </div>
    </div>
</div>